@import '../styles/variables';

.home {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 44px;

  &__main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.94vw;
    padding: 0 11.25vw;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .searchVacancy {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: flex-start;
  }
}