@import '../styles/variables';

.home {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 44px;

  &__main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.94vw;
    padding: 0 11.25vw;

    @media (max-width: 660px) {
      display: flex;
      flex-direction: column;
    }

    @media (max-width: 430px) {
      padding: 0 5vw;
    }

    @media (max-width: 360px) {
      padding: 0 1vw;
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .searchVacancy {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: flex-start;
  }
}