@import "../../styles/variables";

.header {
  display: flex;
  gap: 19.44vw;
  align-items: center;
  padding: 1.66vw 11.25vw;

  background: $white;

  @media (max-width: 650px) {
    gap: 1vw;
    justify-content: space-between;
    padding: 1.66vw 6vw;
  }

  @media (max-width: 550px) {
    .logo {
      transform: scale(.8);
    }
  }

  .nav {
    display: flex;
    gap: 4.16vw;
    align-items: center;

    &__link {
      &_active {
        font-weight: 500;
        color: $blue-500-main;
      }
    }
  }
}