/* stylelint-disable selector-class-pattern */
@import '../../styles/variables';
@import '../../styles/mixins';

.vacanciesBlock {
  height: 100%;

  &__preload {
    display: flex;
    justify-content: center;
  }

  &__vacancies {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .vacancy {
    @include border($color: $grey-200, $rad: 12px);
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 24px;

    background: $white;
  }
}