/* stylelint-disable selector-class-pattern */
@import '../../styles/variables';
@import '../../styles/mixins';

.vacanciesBlock {
  height: 100%;

  &__preload {
    display: flex;
    justify-content: center;
  }

  &__vacancies {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}